{% extends "index.html" %}

{% block mainblock %}
<div class="main-container">


    <div class="content-list">
        <div class="blog-header">
            <h1>Blogs</h1>
            <div class="navigator">
                <a class="navigate_button" href="/home?page={{previous_page}}">
                    previous
                </a>
                |
                <a class="navigate_button" href="/home?page={{next_page}}">
                    next
                </a>
                <p class="nav_context">{{blog_list_obj}}</p>
            </div>

        </div>

        {%for i in blog_list_obj.object_list%}
        <a href="/blog/{{i.id}}">
            <div class="content">
                <h3 class="content-title">{{i.title}}</h3>
                <p class="content-text">{{i.content | truncatechars:255}}</p>
            </div>
        </a>
        {% endfor %}

    </div>

</div>


{% endblock %}


{% block styleblock %}
<style>
    .navigate_button {
        font-weight: bold;
        font-size: 15px;
    }
    .nav_context {
        color: blue;
        font-weight: bold;
        font-size: 15px;
    }

    .navigator {
        display: flex;
        flex-direction: row;
    }

    .navigator>*:hover {
        color: rgb(57, 157, 240);
    }

    .navigator>* {
        padding: 0px 10px;
    }

    .blog-header {
        display: flex;
        justify-content: space-between;
    }

    .blog-header>* {
        padding-left: 10px;
        padding-right: 10px;
    }

    .main-container {

        width: 100%;
    }

    a {
        text-decoration: none;
        color: black;
    }



    .content {
        margin-top: 10px;
        padding: 16px;
        width: 800px;
        border: 2px solid rgb(255, 129, 83);
        cursor: pointer;
    }

    .content:hover {

        background-color: rgb(240, 218, 210);
    }

    .content-title {
        font-size: 30px;
    }

    .content-text {
        padding: 10px 0px;
    }


    .content-list {
        max-width: 800px;
        margin: 20px auto;
    }
</style>
{% endblock %}